:root {
  --dl-gray: #595959;
  --dl-gray2: #999999;
  --dl-gray3: #d9d9d9;
  --dl-orange: #ff6838;
  --dl-blue-black: #1b203d;
  --dl-white: #ffffff;
}
html {
  line-height: 1.15;
  font-family: Segoe UI;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  height: 100%;
  font-weight: 400;
  line-height: 1.15;
  background: linear-gradient(180deg, var(--dl-blue-black), #272f5a 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
/* nav */

nav {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.nav-b {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  list-style-type: none;
  border-bottom: 1px white;
}
.logo {
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.nav-b li a {
  display: inline-block;
  color: #ff6838;
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  padding: 10px 20px;
  text-decoration: none;
  transition: ease all 0.5s;
}
.nav-b li a:hover {
  color: #ffffff;
}

/* burger time */

.hamburger {
  background-color: transparent;
  border: 0;
  display: none;
  color: #ff6838;
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
  transition: ease all 0.3s;
}
.hamburger:active {
  color: #ffe0d6;
}

.button {
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-radius: 4px;
  z-index: 1;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.content {
  font-size: 16px;
  font-family: PT Sans;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.nav-b {
  margin-bottom: 20px;
  align-items: center;
}
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #999;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #171a29;
}
.footer-text {
  color: #ff6838;
  font-weight: 200;
  font-size: 14px;
  padding-right: 20px;
}
@media screen and (max-width: 696px) {
  nav {
    justify-content: space-between;
  }
  .nav-b {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
